{% extends 'solicitations/base.html' %}

{% load static %}

{% block content %}

<section class="vh-100">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between">
            <div class="">
                <a href="{% url 'solicitations:disabled-oems' %}" class="btn mybg hoverbg text-white position-relative">Disabled Oems</a>
                <a href="{% url 'solicitations:active-oems' %}" class="btn btn-secondary text-white position-relative">Active Oems</a>
                
                <div class="mt-3">
                    Total Disbled OEMS <span class="badge bg-dark text-white">{{disabled_oems.count}}</span>
                </div>
            </div>
        </div>


        <div class="d-flex gap-3">
            <form action="{% url 'solicitations:search-oem' %}" method="post">
                {% csrf_token %}
                <div class="d-flex gap-2">
                    <input type="text" name="search-oem" class="form-control" placeholder="Search by Cage Code...">
                    <button type="submit" class="btn bg-warning"><i class="bi bi-search text-white"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="my-4">
        <div class="card">
            <div class="card-body my-3">
                <table class="table table-sm table-hover">
                    <thead class="table-light">
                      <th class="text-secondary">Cage Code</th>
                      <th class="text-secondary">Name</th>
                      <th class="text-secondary">City</th>
                      <th class="text-secondary">Phone</th>
                      <th class="text-secondary text-center">Actions</th>
                    </thead>
                    <tbody>
                        {% for oem in disabled %}
                        <tr>
                            <td>{{oem.oem.cage}}</td>
                            <td>{{oem.oem.name|title}}</td>
                            <td>{{oem.oem.city|title}}</td>
                            <td>{{oem.oem.phone}}</td>
                            <td>
                                <div class="dropdown text-center">
                                <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-caret-down-fill"></i>
                                </a>
                              
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url 'solicitations:oem-detail' oem.oem.id %}">View More</a></li>
                                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#enableOem-{{oem.id}}">Enable</a></li>
                                </ul>
                              </div>
                            </td>
                          </tr>

                          <!--Enable OEM Modal -->
                          <div class="modal fade" id="enableOem-{{oem.id}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p>Are you sure you want to enable this OEM?</p>
                                <form id="disable-oem-form" method="POST" action="{% url 'solicitations:enable-oem' oem.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="oem" id="oem-id-{{oem.id}}" value="{{oem.id}}">
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
                                    <button type="submit" class="btn mybg myhover text-white">Yes, Enable</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                  </table>
                  <div class="text-center" data-aos="fade-up" data-aos-delay="300">
                    <div class="ms-1 rounded me-1 container mt-3 d-flex justify-content-center pagination">
                        {% if disabled.has_previous %}
                          <li><a class="page-link text-secondary" href="?page={{disabled.previous_page_number}}">&laquo Previous</a></li>
                        {% endif %}
                        
                        <li class="page-item page-link text-secondary">page {{disabled.number}} of {{disabled.paginator.num_pages}}</li>
                
                        {% if disabled.has_next %}
                          <li><a class="page-link text-secondary" href="?page={{disabled.next_page_number}}">next &raquo</a></li>
                        {% endif %}
                      </div>
                  </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
