{% extends 'solicitations/base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="d-flex justify-content-between">
        <div class="">
            OEM Detail For <span class="badge bg-light text-dark">{{oem.oem.name}}</span>
        </div>
        <div class="d-flex gap-3">
            <a href="{% url 'solicitations:disabled-oems' %}" class="btn bg-secondary text-white"><i class="bi bi-arrow-left"></i> Back</a>
        </div>
    </div>

    <div class="mt-5">
        <div class="">
            Data...
        </div>
        <div class="mt-2">
            <div class="card">
                <div class="card-body my-3">
                    <div class="row my-2">
                        <div class="col-md-4">
                            Name: {{oem.oem.name|title}}
                        </div>
                        <div class="col-md-4">
                            Cage Code: {{oem.oem.cage}}
                        </div>
                        <div class="col-md-4">
                            Email: {{oem.oem.email|lower}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Phone: {{oem.oem.phone}}
                        </div>
                        <div class="col-md-4">
                            Fax: {{oem.oem.fax}}
                        </div>
                        <div class="col-md-4">
                            City: {{oem.oem.city|title}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Street: {{oem.oem.street|title}}
                        </div>
                        <div class="col-md-4">
                            Postal Code: {{oem.oem.postal_code}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="mb-1">
                    Reason
                </div>
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" class="d-flex justify-content-between align-items-center my-4">
                            {% csrf_token %}
                            <div class="col-md-2 mx-1">
                                <input type="checkbox" class="form-check-input fs-3" name="is_disabled" id="is_disabled" {% if oem.is_disabled %}checked{% endif %}>
                            </div>
                            <div class="my-2 col-md-7">
                                <textarea name="reason" cols="40" rows="3" class="form-control" placeholder="Reason" maxlength="200" id="">{{ oem.reason }}</textarea>
                            </div>
                            <div class="mx-1">
                                <button type="submit" class="btn mybg myhover text-white mt-2">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>

{% endblock content %}
