{% extends 'solicitations/base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="d-flex justify-content-between">
        <div class="">
            OEM Detail For <span class="badge bg-light text-dark">{{oem.name}}</span>
        </div>
        <div class="d-flex gap-3">
            <a href="{% url 'solicitations:all-oems' %}" class="btn bg-secondary text-white"><i class="bi bi-arrow-left"></i> Back</a>
        </div>
    </div>

    <div class="mt-5">
        <div class="">
            OEM Data..
        </div>
        <div class="mt-2">
            <div class="card">
                <div class="card-body my-3">
                    <div class="row my-2">
                        <div class="col-md-4">
                            Name: {{oem.name|title}}
                        </div>
                        <div class="col-md-4">
                            Cage Code: {{oem.cage}}
                        </div>
                        <div class="col-md-4">
                            Email: {{oem.email|lower}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Phone: {{oem.phone}}
                        </div>
                        <div class="col-md-4">
                            Fax: {{oem.fax}}
                        </div>
                        <div class="col-md-4">
                            City: {{oem.city|title}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Street: {{oem.street|title}}
                        </div>
                        <div class="col-md-4">
                            Postal Code: {{oem.postal_code}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
