{% extends 'accounts/baseaccount.html' %}
{% load static %}

{% block content %}
<div class="mt-5 pt-5 vh-100">
    <div class="card my-5 mx-auto col-md-6">
        <div class="card-body">
            <div class="text-center">
                <div class="text-center py-3">
                </div>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}