{% extends 'accounts/baseaccount.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-5 vh-100">
    <div class="card my-5 mx-auto col-md-6">
        <div class="card-body">
            <div class="text-center">
                <h2 class="mb-4">Reset Password Successful</h2>
                <p class="mb-4">Your password has been reset successfully. You can now log in with your new password.</p>
                <a href="{% url 'solicitations:login-user' %}" class="btn btn-secondary text-white">Log In Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}