{% extends 'solicitations/base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="d-flex justify-content-between">
        <div class="">
            RFQ Detail For <span class="badge bg-light text-dark">{{rfq.rfq.unique_id}}</span>
        </div>
        <div class="">
            Belong To <span class="badge bg-light text-dark">{{rfq.rfq_creator}}</span>
        </div>
        <div class="d-flex gap-3">
            <a href="{% url 'solicitations:replied-rfq' %}" class="btn bg-secondary text-white"><i class="bi bi-arrow-left"></i> Back</a>
            <a href="#" class="btn mybg hoverbg text-white">Print <i class="bi bi-printer"></i></a>
        </div>
    </div>

    <div class="">
        <div class="">
            OEM Data..
        </div>
        <div class="mt-2">
            <div class="card">
                <div class="card-body my-3">
                    <div class="row my-2">
                        <div class="col-md-4">
                            Name: {{rfq.rfq.oem.name|title}}
                        </div>
                        <div class="col-md-4">
                            Cage Code: {{rfq.rfq.solicitation.cage}}
                        </div>
                        <div class="col-md-4">
                            Email: {{rfq.rfq.oem.email|lower}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Phone: {{rfq.rfq.oem.phone}}
                        </div>
                        <div class="col-md-4">
                            Fax: {{rfq.rfq.oem.fax}}
                        </div>
                        <div class="col-md-4">
                            City: {{rfq.rfq.oem.city|title}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Street: {{rfq.rfq.oem.street|title}}
                        </div>
                        <div class="col-md-4">
                            Postal Code: {{rfq.rfq.oem.postal_code}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-2">
        <div class="">
            Solicitation Data..
        </div>
        <div class="mt-2">
            <div class="card">
                <div class="card-body my-3">
                    <div class="row my-2">
                        <div class="col-md-4">
                            Cage Code: {{rfq.rfq.solicitation.cage}}
                        </div>
                        <div class="col-md-4">
                            Nomenclature: {{rfq.rfq.solicitation.nomenclature|title}}
                        </div>
                        <div class="col-md-4">
                            Quantity: {{rfq.rfq.solicitation.quantity}}
                        </div>
                    </div>
                    <hr>
                    <div class="row my-2">
                        <div class="col-md-4">
                            Return By: {{rfq.rfq.solicitation.return_by_date}}
                        </div>
                        <div class="col-md-4">
                            NSN: {{rfq.rfq.solicitation.NSN}}
                        </div>
                    </div>
                </div>
                <div class="card mx-2 mybg">
                    <div class="card-body">
                        <div class="row mt-2 mb-1">
                            <div class="col-md-4 text-white mt-2">
                                Price: $ <span class="text-warning">{{ rfq.price }}</span> / Piece
                            </div>
                            <div class="col-md-4 text-white mt-2">
                                Delivery Mode: {{ rfq.delivery_mode }}
                            </div>
                            <div class="col-md-4 text-white mt-2">
                                {% if rfq.document %}
                                    <a href="{{ rfq.document.url }}" target="_blank" class="btn btn-warning text-white">View File</a>
                                {% else %}
                                    <span class="text-white">No file uploaded</span>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="text-white">
                        <div class="row mt-2 mb-1">
                            <div class="col text-white mt-2">
                              <span class="text-warning">Note/Message</span>:  {{ rfq.short_note }}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="text-center">
                <span class="text-center mt-2"><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></span>
            </div>
        </div>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="deleteRepliedModal-{{rfq.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete RFQ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this Replied RFQ? Rember this task can not be reversed.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mybg hoverbg text-white" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'solicitations:delete-replied-rfq' rfq.id %}" class="btn btn-danger">Yes Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
